body {
    margin: 0;
    height: 100%;
}

.container {
    display: inline-block;
    clear: none;
}

.leftDiv {
    text-align:center;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0 0 7% 0;
    background-color: rgb(122, 42, 42);
    color: rgb(249, 249, 249);
}

.headerBar {
    display: flex;
    position: relative;
    width: 100%;
}

.logo {
    width: 30%;
    height: auto;
    padding: 0;
    margin: 2%;
    position: relative;
    
}

.navLinks {
    padding: 0;
    margin: 0;
    width: 60%;
    position: absolute;
    top: 20%;
    right: 2%;
    text-align: right;
}

.navLinks > a:link, .navLinks > a:visited, .navLinks > a:hover, .navLinks > a:active{
    text-decoration: none;
    color: rgb(249, 249, 249);
    font-size: 75%;
    padding: 0 0 0 4%;
}

.missionStatement {
    margin: 2% 0 5% 0;
    font-size: 225%;
}

.content > text {
    text-align: center;
    font-size: 80%;
}

.rightDiv {
    text-align:center;
    display: inline-block;
    margin: 0px;
    padding: 0;
}

.navLinks2 {
    position: relative;
    float: right;
    width: 35%;
    padding: 2% 2% 0 0;
}

.navLinks2 > a, .navLinks2 > a:visited, .navLinks2 > a:hover, .navLinks2 > a:active{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 75%;
    margin: 0 0 0 10%;
    float: right;
}

.signUpTopper {
    margin: 7% 0 3% 0;
}

.signUp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    margin: 0 2% 0 2%;
}

.newAccountInput {
    padding: 0 15% 2% 15%;
}

.signUpInput {
    width: 90%;
    margin: 0 0 2% 0;
}

.captcha {
}

.disclaimer {
    font-size: 75%;
}

.checkBoxDiv {
    margin: 0 0 3% 0;
}

.signInButtonDiv {
    display: inline-block;
    position: center;
}

.signUpButton {
    width: 40%;
}

.googleImg {
    width: 20%;
    height: auto;
    float: left;
}